<div class="container">
  <div class="row navbar navbar-fixed navbar-right">
    <ul>
      <li id="link-to-cart" data-hook>
        <noscript>
          <%= link_to Spree.t(:cart), '/cart' %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
      <li>| Account |</li>
      <li>Log Out</li>
    </ul>
  </div>
  <div class="row text-center logo">
    <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/wildrose/WildRoseLogo1_Web.png"), root_url %>
  </div>

</div>
