<div class="container">
  <div class="row navbar navbar-right">
    <ul>
      <li>Shopping Cart (0) |</li>
      <li>Account |</li>
      <li>Log Out</li>
    </ul>
  </div>
  <div class="row text-center logo">
    <img class="center-block" src="https://s3-us-west-2.amazonaws.com/wildrose/WildRoseLogo1_Web.png">
  </div>
</div>